
.splashEstendida{
    background-color:#00b2f0;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
}

.splashEstendida.hidden {
    display: none;
}

#imgSplashEstendida{
    position: absolute;
}

