body {
    font-family: 'Segoe UI light','wf_segoe-ui_light', Helvetica, Arial, sans-serif;
        font-size: 20pt;
        text-align:center;
        background-image: url(/img/estrelas.jpg);
}
.box{
    margin-top: 20px;
    width: 97%;
	margin-left: 1.5%;
}

.sortecontent {

     font-family: 'Segoe UI light';
     font-size: x-large;
	 }
#btsobre{
	margin-top: 65%;
    position:relative;
}